---
import returnToListIcon from "../assets/return-to-list.svg";

interface Props {
  summary: string | undefined;
  id: string | undefined;
  date: Date | undefined;
}

const { summary, id, date } = Astro.props;
---

<div style="position: relative;padding-top: 64px;">
  <div style="position: absolute;top: 0;left: 0;">
    <a href="/newsletter-list" title="返回列表页"
      ><img
        src={returnToListIcon.src}
        width="32"
        height="32"
        alt="Creator Telescope"
      /></a
    >
  </div>

  <h3
    style="display: block;margin: 0;width: 100%;text-align: center;color: #4e4e4e;font-size: 18px;border-bottom: 1px solid #f0f0f0;padding-bottom: 10px;font-weight: 200;word-break: break-all;word-wrap: break-word;"
  >
    {`Creator Telescope - ${id}`}
  </h3>

  <h4
    style="display: block;margin: 0;width: 100%;text-align: center;color: #999999;font-size: 14px;padding-top: 10px;font-weight: 200;word-break: break-all;word-wrap: break-word;"
  >
    {summary}
  </h4>

  <slot />

  <h3
    style="display: block;text-align: center;font-size: 12px;color: #999999;font-weight: 200;margin: 0;padding: 0;margin-top: 20px;word-break: break-all;word-wrap: break-word;"
  >
    本周刊服务由 <a
      style="color: #999999;"
      title="Colorful"
      href="https://xiaoa.name"
      target="_blank">Archer</a
    > 创造
  </h3>

  <h3
    style="display: block;text-align: center;font-size: 12px;color: #999999;font-weight: 200;margin: 0;padding: 0;margin-top: 4px;word-break: break-all;word-wrap: break-word;"
  >
    Created at: {date}
  </h3>
</div>
