---
import creatorTelescopeLogo from "../assets/creator-telescope-logo.svg";
const copyrightYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Creator Telescope</title>
  </head>
  <body>
    <div class="newsletters__body">
      <div class="newsletters__header">
        <div class="newsletters__logo">
          <a href="/newsletter-list"
            ><img
              src={creatorTelescopeLogo.src}
              width="72"
              height="72"
              alt="Creator Telescope"
            /></a
          >
        </div>

        <div class="newsletters__meta">
          <h1 class="newsletters__title text-gradient">Creator Telescope</h1>
          <h3 class="newsletters__subtitle">为创造者而生的高质量内容周刊</h3>
        </div>
      </div>
      <div class="newsletters__main">
        <slot />
      </div>
      <h3 class="newsletters__footer">
        © {copyrightYear} Creator Telescope.
        <br />
        <a
          href="https://github.com/qddegtya/creator-telescope"
          title="Fork me on GitHub"
          target="_blank">Fork me on GitHub</a
        >.
      </h3>
    </div>
  </body>
</html>

<style>
  /* montserrat-regular - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600italic - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-600italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-600italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;

    /* 更适合中文阅读的字体设置 */
    font-family: "Montserrat", "SF UI Text", "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
  }

  .newsletters__body {
    width: 100%;
    max-width: 640px;

    padding: 64px 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    .newsletters__meta {
      h1,
      h3 {
        word-wrap: break-word;
        word-break: break-all;
      }
    }

    .newsletters__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-bottom: 16px;
    }

    .newsletters__logo {
      margin-right: 16px;
    }

    h1,
    h3,
    ul,
    li,
    a,
    img {
      margin: 0;
      padding: 0;
    }

    img {
      outline: none;
    }

    .newsletters__list {
    }

    .newsletters__item:last-child {
      border: none;
    }

    .newsletters__item {
      list-style: none;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-bottom: 1px dashed #f0f0f0;
      background-color: #ffffff;

      em {
        display: block;
        margin: 0;
        padding: 0;

        font-size: 12px;
        line-height: 16px;

        color: #999999;
        font-weight: 200;

        margin-top: 4px;

        word-wrap: break-word;
        word-break: break-all;
      }

      a {
        color: #666666;
        font-size: 14px;

        text-decoration: none;
        font-weight: 200;
      }
    }

    .newsletters__item:hover {
      background-color: #f9f9f9;
    }

    .newsletters__title {
      font-size: 24px;
      line-height: 24px;

      font-weight: 600;

      /* 加在 subtitle 更合理，先注释 + 保留 */
      /* overflow: hidden;
      border-right: 1px solid #333333;
      white-space: nowrap;
      animation:
        typing 4s steps(30, end) infinite,
        blink-caret 0.75s step-end infinite; */
    }

    .newsletters__showtitle {
      font-size: 14px;
      line-height: 28px;

      color: #666666;
      border-left: 8px solid #f0f0f0;
      padding-left: 8px;

      padding-top: 8px;
      padding-bottom: 8px;

      border-bottom: 1px solid #f0f0f0;

      background-color: #f9f9f9;

      font-weight: 400;

      word-wrap: break-word;
      word-break: break-all;
    }

    .newsletters__subtitle {
      font-size: 12px;
      line-height: 24px;

      color: #999999;
      font-weight: 200;

      letter-spacing: 4px;
      padding-right: 4px;

      overflow: hidden;
      border-right: 1px solid #333333;
      white-space: nowrap;
      animation:
        typing 4s steps(30, end) infinite,
        blink-caret 0.75s step-end infinite;
    }

    .newsletters__footer {
      font-size: 12px;
      line-height: 24px;

      color: #999999;
      font-weight: 200;

      letter-spacing: 1px;

      word-wrap: break-word;
      word-break: break-all;

      text-align: center;

      a {
        color: #999999;
      }
    }

    .text-gradient {
      background: #959595;
      background: linear-gradient(
        to right,
        #959595 0%,
        #0d0d0d 46%,
        #010101 50%,
        #0a0a0a 53%,
        #4e4e4e 76%,
        #383838 87%,
        #1b1b1b 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .newsletters__main {
      width: 100%;
      border: 1px solid #f0f0f0;
      background-color: #ffffff;

      margin-top: 4px;
      margin-bottom: 16px;

      border-radius: 10px;

      box-sizing: border-box;

      overflow: hidden;

      -webkit-box-shadow: 5px 5px 0 0 #f0f0f0;
      -moz-box-shadow: 5px 5px 0 0 #f0f0f0;
      box-shadow: 5px 5px 0 0 #f0f0f0;
    }
  }
</style>
