---
const { id } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="never" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Creator Telescope - ${id}`}</title>
  </head>
  <body>
    <div class="newsletterdetail__body">
      <div class="newsletterdetail__main">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  /* montserrat-regular - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-600.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-600.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600italic - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src:
      local(""),
      url("/fonts/montserrat/montserrat-v23-latin-600italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/montserrat/montserrat-v23-latin-600italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html,
  body {
    margin: 0;
    padding: 0;

    /* 更适合中文阅读的字体设置 */
    font-family: "Montserrat", "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
  }

  .newsletterdetail__body {
    width: 100%;
    max-width: 640px;
    padding: 64px 12px;

    box-sizing: border-box;

    .newsletterdetail__main {
      width: 100%;

      overflow: hidden;
      border-radius: 10px;

      box-sizing: border-box;
      border: 1px solid #f0f0f0;
      padding: 30px;
      background-color: #ffffff;

      -webkit-box-shadow: 5px 5px 0 0 #f0f0f0;
      -moz-box-shadow: 5px 5px 0 0 #f0f0f0;
      box-shadow: 5px 5px 0 0 #f0f0f0;

      img {
        width: 100%;
      }
    }
  }
</style>
